[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.2"
django-environ = "*"
crispy-bootstrap5 = "*"
pillow = "*"
psycopg2 = "*"
django-ckeditor-5 = "*"

[dev-packages]
black = "*"
django-debug-toolbar = "*"
isort = "*"
djhtml = "*"

[requires]
python_version = "3.11"
