{% extends 'base.html' %}
{% load static %}

{% block content %}
  <!-- PAGE TITLE ========================== -->
  <header class="py-8 py-md-10" style="background-image: none">
    <div class="container py-xl-2">
      <h1 class="display-4 fw-semi-bold mb-0">Shopping cart</h1>
    </div>
  </header>

  <!-- SHOP CART ========================= -->
  {% if cart_courses %}
    <div class="container pb-6 pb-xl-10">
      <div class="row">
        <h5>{{ cart|length }} Course{{ cart|length|pluralize }} in Cart</h5>
        {% include 'partials/messages.html' %}
        <div class="col-xl-8">
          {% for course in cart_courses %}
            {% include 'carts/partials/cart_courses.html' %}
          {% endfor %}
        </div>

        <div class="cart-collaterals col-xl-4">
          <div class="cart_totals">
            <h2>Total:</h2>

            <div class="d-flex align-items-center mb-2">
              <ins class="h2 mb-0">${{ total_price }}</ins>
              {% if total_discount_percentage %}
                <del class="ms-3">${{ total_regular_price }}</del>
              {% endif %}
              {% if total_discount_percentage %}
                <ins class="ms-3">{{ total_discount_percentage }}% off</ins>
              {% endif %}
            </div>

            <div class="wc-proceed-to-checkout">
              <a
                href="{% url 'carts:checkout' %}"
                class="checkout-button button alt wc-forward"
              >
                Checkout
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    {% include 'carts/partials/empty_cart_template.html' %}
  {% endif %}
{% endblock content %}
