{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Forgot Your Password?{% endblock title %}

{% block content %}
<div class="container mt-10 mb-10">
  <div class="row gx-0">
    <div class="col-md-7 col-xl-4 mx-auto">
      <h3 class="mb-6">Log In to Your Skola Account!</h3>
      {% include 'partials/messages.html' %}
      <form action="" method="post">
        {% csrf_token %}
        <div class="form-group mb-5">
          {{ form|crispy }}
        </div>

        <button class="btn btn-block btn-primary" type="submit">
          SEND CONFIRMATION LINK
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
