{% extends 'base.html' %}
{% block title %}Profile{% endblock title %}

{% block content %}
<div class="container">
  <nav class="mb-4 mb-md-4 mt-4" aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-scroll">
      <li class="breadcrumb-item">
        <a class="text-gray-800" href="{% url 'users:public_profile' user.first_name user.last_name %}">
          View public profile
        </a>
      </li>
      <li class="breadcrumb-item">
        <a class="text-gigas-800" href="{% url 'users:profile' %}">
          Profile
        </a>
      </li>
      <li class="breadcrumb-item">
        <a class="text-gray-800" href="{% url 'users:profile_photo' %}">
          Photo
        </a>
      </li>
    </ol>
  </nav>
</div>

<header class="py-8 py-md-8" style="background-image: none">
  <div class="container text-center py-xl-2">
    <h1 class="display-4 fw-semi-bold mb-0">Public profile</h1>
    <p class="fw-semi-bold my-2">Add information about yourself</p>
  </div>
</header>
<!-- Card -->
<div class="card" style="width: 80%; margin-left: 10%">
  <div class="card-body">
    {% include 'partials/messages.html' %}
    <form action="" method="post" novalidate>
      {% csrf_token %}
      <div class="row">
        <div class="col">
          {% for field in form %}
          <div class="form-group mb-4">
            <label>{{ field.label_tag }}</label>
            {{ field }}
            <!-- form validation messages -->
            {% include 'partials/form_errors.html' %}
            <div>
              <small>{{ field.help_text }}</small>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="w-100"></div>
      </div>
      <button type="submit" class="btn btn-primary">Update Profile</button>
    </form>
  </div>
</div>
{% endblock %}
