{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <nav class="mb-4 mb-md-4 mt-4" aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-scroll">
      <li class="breadcrumb-item">
        <a class="text-gray-800" href="{% url 'users:public_profile' user.first_name user.last_name %}">
          View public profile
        </a>
      </li>
      <li class="breadcrumb-item">
        <a class="text-gray-800" href="{% url 'users:profile' %}">
          Profile
        </a>
      </li>
      <li class="breadcrumb-item">
        <a class="text-gigas-800" href="{% url 'users:profile_photo' %}">
          Photo
        </a>
      </li>
    </ol>
  </nav>
</div>

<div class="container pt-8 pt-md-8">
  <div>
    <h1 class="text-center mb-1">Photo</h1>
    <p class="text-center fw-semi-bold my-2">
      Add a nice photo of yourself for your profile.
    </p>
  </div>
  <div class="row">
    <div class="col-xl-8 mx-xl-auto">
      <p class="fw-semi-bold my-2">Image preview</p>
      <div
        class="d-flex flex-wrap align-items-center justify-content-center mb-5 mb-md-3"
      >
        <div
          class="border rounded-circle d-inline-block mb-4 mb-md-0 mx-lg-4 order-0"
        >
          <div class="p-4">
            <img
              src="{{ form.instance.profile.url }}"
              alt="..."
              class="rounded-circle img-fluid"
              width="170"
              height="170"
            />
          </div>
        </div>
      </div>

      <div
        class="d-flex flex-wrap align-items-center justify-content-center mb-5 mb-md-3"
      >
        <div class="card" style="width: 80%; margin-left: 10%">
          <div class="card-body">
            {% include 'partials/messages.html' %}
            <form action="" method="post" enctype="multipart/form-data" novalidate>
              {% csrf_token %}
              <div class="row">
                <div class="col">
                  {% for field in form %}
                  <div class="form-group mb-4">
                    <label>{{ field.label_tag }}</label>
                    {{ field }}
                    <div>
                      <small>{{ field.help_text }}</small>
                    </div>
                    <!-- form validation messages -->
                    {% include 'partials/form_errors.html' %}
                  </div>
                  {% endfor %}
                </div>
                <div class="w-100"></div>
              </div>
              <button type="submit" class="btn btn-primary">
                Update Profile
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
