<div class="container">
  <div class="text-center mb-2" data-aos="fade-up">
    <h1 class="mb-1">What our students have to say</h1>
    <p class="font-size-lg text-capitalize mb-0">
      Discover your perfect program in our courses.
    </p>
  </div>

  <div
    class="mx-n4"
    data-flickity='{"pageDots": true, "prevNextButtons": false, "cellAlign": "left", "wrapAround": true, "imagesLoaded": true}'
  >
    <div
      class="col-12 col-md-6 col-xl-4 py-md-7 py-3"
      data-aos="fade-up"
      data-aos-delay="200"
      style="padding-right: 15px; padding-left: 15px"
    >
      <!-- Card -->
      <div class="card border shadow p-6 lift-md">
        <!-- Image -->
        <div class="card-zoom">
          <div class="d-flex align-items-center">
            <div class="avatar avatar-custom me-5">
              <img
                src="assets/img/avatars/avatar-4.jpg"
                alt="..."
                class="avatar-img rounded-circle"
              />
            </div>
            <div class="media-body">
              <h5 class="mb-0">Albert Cole</h5>
              <span>Designer</span>
            </div>
          </div>
        </div>

        <!-- Footer -->
        <div class="card-footer px-0 pb-0">
          <p class="mb-0 text-capitalize">
            “ I believe in lifelong learning and Skola is a great place to
            learn from experts. I've learned a lot and recommend it to all my
            friends “
          </p>
        </div>
      </div>
    </div>
  </div>
</div>