{% extends 'base.html' %}

{% block content %}
<!-- Page Title =========== -->
{% include 'courses/components/category_header.html' %}

<!-- CONTROL BAR ============= -->
<div class="container mb-6 mb-xl-8 z-index-2">
  <div class="d-lg-flex align-items-center mb-6 mb-xl-0">
    <p class="mb-lg-0">
      We found
      <span class="text-dark">
        {{ course_count_by_subcategory }} course{{ course_count_by_subcategory|pluralize }}
      </span>
      available for you
    </p>
    
    {% include 'courses/components/category_control_bar.html' %}
  </div>
</div>

<!-- COURSE =============== -->
<div class="container">
  <div class="row">
    <div class="col-xl-4 mb-5 mb-xl-0">
      <!-- SIDEBAR FILTER =========== -->
      {% include 'courses/components/category_filter.html' %}
    </div>

    <div class="col-xl-8">
      {% for course in subcatgeory_courses %}
        {% include 'courses/components/category_courses.html' %}
      {% empty %}
        <div class="container mt-4 mb-4 text-center py-xl-2">
          <h2 class="fw-semi-bold mb-0">No courses available.</h2>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
