{% extends 'base.html' %}
{% block title %}Academix{% endblock title %}
{% load static %}


{% block content %}
<section class="py-4 py-md-13 position-relative bg-white">
  <div class="container">
    <div class="row align-items-center">
      <div
        class="col-12 col-md-5 col-lg-6 order-md-2"
        data-aos="fade-in"
        data-aos-delay="50"
      >
        <!-- Image -->
        <img
          src="{% static 'assets/img/illustrations/illustration-1.png' %}"
          class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0"
          alt="..."
        />
      </div>
      <div class="col-12 col-md-7 col-lg-6 order-md-1 px-md-0">
        <!-- Heading -->
        <h1 class="display-2" data-aos="fade-left" data-aos-duration="150">
          Learn From <span class="text-orange fw-bold">Anywhere</span>
        </h1>

        <!-- Text -->
        <p
          class="lead pe-md-8 text-capitalize"
          data-aos="fade-up"
          data-aos-duration="200"
        >
          Technology is bringing a massive wave of evolution on learning things
          in different ways.
        </p>
      </div>
    </div>
    <!-- / .row -->
  </div>
  <!-- / .container -->
</section>

<!-- FEATURED PRODUCT ================== -->
<section class="pt-5 pb-9 py-md-11 bg-white">
  {% include "courses/components/featured_courses.html" %}
</section>

<!-- CATEGORIES ==================== -->
<section class="py-5 py-md-8 bg-white">
  {% include "courses/components/categories.html" %}
</section>

<!-- TESTIMONIAL ================= -->
<section class="pt-5 pt-md-11 pb-9">
  {% include "courses/components/testimonials.html" %}
</section>

{% endblock content %}
